<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401120874571-t5edgsc4o7d74n020p4dlc3s7dggtuog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401120874571-t5edgsc4o7d74n020p4dlc3s7dggtuog</string>
	<key>API_KEY</key>
	<string>AIzaSyBDumugw88tvxENHbTVsyuJi3DUN7Mt9Ik</string>
	<key>GCM_SENDER_ID</key>
	<string>401120874571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mpsdev.speed</string>
	<key>PROJECT_ID</key>
	<string>speed-bar-8d7fc</string>
	<key>STORAGE_BUCKET</key>
	<string>speed-bar-8d7fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401120874571:ios:eb1d428ce59c620cfc3dce</string>
	<key>DATABASE_URL</key>
	<string>https://speed-bar-8d7fc-default-rtdb.firebaseio.com</string>
</dict>
</plist>